source https://api.nuget.org/v3/index.json
source https://nuget.org/api/v2

nuget FSharp.Formatting ~> 2.13.0
nuget FAKE
nuget FAKE.Lib >= 4.12.0 framework: >= net451
nuget Nuget.CommandLine
nuget Persimmon
nuget FAKE.Persimmon
nuget Persimmon.Console
nuget Npm.js
nuget FSharp.Core >= 4.0.0.1

github fsharp/FAKE modules/Octokit/Octokit.fsx
